.fc-toolbar {
  padding: 15px;
  margin-bottom: 0px !important;
}
.fc-view-container {
  margin-left: -1px;
  margin-right: -1px;
}
th.fc-widget-header {
  background-color: #f7fafc;
  color: #8c99a5;
}
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
  border-color: #d1d8dd !important;
}
.fc-unthemed .fc-today {
  background-color: #fff !important;
}
.fc-unthemed .fc-today .fc-day-number {
  background-color: #5e64ff;
  min-width: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.fc-highlight {
  background-color: #fffce7 !important;
}
.fc-event {
  border: 1px solid #e8ddff;
  /* default BORDER color */
  background-color: #e8ddff;
}
@media (max-width: 767px) {
  .fc-scroller {
    height: auto !important;
  }
}
.fc-day-top {
  padding: 12px 12px 0 0 !important;
}
th.fc-day-header {
  text-align: right !important;
  padding: 10px 12px 10px 0 !important;
  text-transform: uppercase;
  font-size: 12px;
}
.fc.fc-unthemed .fc-toolbar {
  padding: 15px;
}
.fc-event-container .fc-content {
  padding: 3px;
}
.fc-left h2 {
  font-size: 14px;
}
.fc button {
  height: auto !important;
  font-size: 12px !important;
  outline: none !important;
}
.fc button .fc-icon {
  top: -1px !important;
}
.fc-state-active {
  box-shadow: none !important;
  background: #cfdce5 !important;
}
.fc-day-grid-event {
  border: none !important;
  margin: 5px 4px 0 !important;
  padding: 1px 5px !important;
}
.fc-bg-orange {
  background-color: #fdd2c2 !important;
  color: #a64f33 !important;
}
.fc-bg-orange.fc-start {
  border-left: 3px solid #fda688 !important;
}
.fc-bg-red {
  background-color: #fec3c5 !important;
  color: #a63336 !important;
}
.fc-bg-red.fc-start {
  border-left: 3px solid #fd8b8b !important;
}
.fc-bg-skyblue {
  background-color: #d4f1ff !important;
  color: #548da8 !important;
}
.fc-bg-skyblue.fc-start {
  border-left: 3px solid #aae3fe !important;
}
.fc-bg-green {
  background-color: #ebf7cf !important;
  color: #7c9142 !important;
}
.fc-bg-green.fc-start {
  border-left: 3px solid #d9f29e !important;
}
.fc-bg-blue {
  background-color: #d1d3fc !important;
  color: #4c51a2 !important;
}
.fc-bg-blue.fc-start {
  border-left: 3px solid #a3a5fc !important;
}
.fc-bg-yellow {
  background-color: #fef9cf !important;
  color: #a99e4c !important;
}
.fc-bg-yellow.fc-start {
  border-left: 3px solid #fff5a0 !important;
}
